*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0.5rem;
}

.row-nested{
    padding: 0.5rem;
}

.col-nested{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    background-color: green;
    border: 1px solid rgb(38, 169, 246);
}

.content{
    color: white;
}